<div class="card">
  <div class="card-header">
      {{pageTitle}}
  </div>

  <div class="card-body">
      <div class="row">
          <div class="col-md-2">Filter by:</div>
          <div class="col-md-4">
              <input type="text" />
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <h4>Filtered by:</h4>
      </div>
      <div class="col-md-6">
        <button (click)='showPhone()' class="btn btn-primary btn-sm">
            {{showNumber ? 'Hide' : 'Show'}} Phone numbers
        </button>
    </div>
  </div>
  <div class="table-responsive">
      <table class="table" *ngIf="users.length">
          <tbody>
            <thead>
                <tr *ngFor='let user of users'>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.country }}</td>
                    <td> <span *ngIf='showNumber'>{{ user.phone }}</span></td>
                </tr>
              </thead>
          </tbody>
      </table>
  </div>
</div>